.App {

}

.page-section{
  overflow: hidden;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  background: hsl( var(--clr-dark) /.1);
}

.radius-large{
  min-height: 110vh;
  margin-top: 1rem;
  padding-top: 2rem;
  border-radius: 3.75rem;
}

.container-l {
  max-width: 81.5rem;
  margin-right: auto;
  margin-left: auto;
}

.intro-text {
  position: relative;
  width: 70%;
  max-width: 52.8rem;
  margin-bottom: 16rem;
  padding-top: 5rem;
}

.intro-text h1{
  margin-top:20px;
  margin-bottom: 2rem;
}

.intro-p {
  font-size: var(--fs-400);
  margin-bottom: 1rem;
}

.usp-wrapper{
  display: flex;
  margin-top:2rem;
  margin-bottom: 1.5rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.usp-item{
  display: flex;
  margin-right: 1.2rem;
  margin-bottom: 1rem;
  align-items: flex-start;
}

.check-mark{
  display: flex;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: .5rem;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  border-radius: 50%;
  background: hsl(20, 10%, 60%);
}

.button {
  color: hsl(var(--clr-dark));
  font-size: var(--fs-400);
  text-align: center;
  min-width: 10rem;
  margin-top: auto;
  margin-right: 1rem;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  background: transparent;
  border: 2px solid hsl(var(--clr-light));
  border-radius: 3.75rem;
  text-decoration: none;
  transition: 500ms;
  opacity: 1;
}

.button:first-of-type{
  background: hsl(var(--clr-light));
}

.button:hover,
.button:focus {
  background: hsl(var(--clr-light) /.9);
  color: hsl(var(--clr-white));
}

.w-button{
  display: inline-block;
  padding: 9px 15px;
  text-decoration: none;
  cursor: pointer;
}

.logo-button {
  font-size: var(--fs-400);
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 2em;
  background: hsl( var(--clr-dark) /.1);
  border-radius: 50%;
  aspect-ratio:1;
  text-decoration: none;
}

.logo-button::after{
  content:'';
  position: absolute;
  z-index: -1;
  width: 80%;
  height: 80%;
  background: hsl( var(--clr-dark) / .1);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.logo-button:hover::after,
.logo-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}
